<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMotionUsageDescription</key>
	<string>歩行のワークアウト中に歩数を取得する為に使用されます。</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Workouts tracked by MyWorkouts on Apple Watch will be saved to HealthKit.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>ワークアウトに関するデータはアプリ内であなたのワークアウトを表示するために使用されます。</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>dev.nsym.movement-record.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
</dict>
</plist>
